.login {

    .container_login {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .form {
            width: 100%;
            max-width: 400px;
            padding: 10px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;


            .title {
                margin-bottom: 30px;
                color: #9D2235;
            }

            .input_form {
                width: 100%;
                margin-bottom: 15px;
                position: relative;

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    color: #9D2235;
                    font-size: 20px;
                }
            }

            .input_form input {
                width: 100%;
                height: 40px;
                border-radius: 15px;
                border: 1px solid #9D2235;
                padding-left: 40px;
            }

            .btn {
                width: 100%;
                height: 40px;
                border-radius: 15px;
                border: 1px solid #9D2235;
                background: transparent;
                color: #9D2235;
                margin-bottom: 15px;
                cursor: pointer;
            }

            .btn:hover {
                background: #9D2235;
                color: #fff;
                transition: .2s linear;
            }

            .other_method {
                font-size: 14px;
                margin-bottom: 15px;
            }

            .google {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                border: 1px solid #9D2235;
                color: #9D2235;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 27px;
                cursor: pointer;
            }

            .google:hover {
                color: #fff;
                background: #9D2235;
                transition: .2s linear;
            }
        }
    }
}