.checkout {
    display: flex;
    justify-content: center;
}

.title {
    padding: 10px 0;
    border-bottom: 1px solid #9D2235;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.title h3 {
    color: #9D2235;
    margin-right: 15px;
}

.title .check {
    color: rgb(10, 175, 10);
    font-size: 20px;
}

.container_personal {
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #9D2235;
    position: relative;
}

.container_personal i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9D2235;
    cursor: pointer;
}

.container_personal div {
    margin: 5px 0;
}

.form {
    width: 60%;
    padding: 0 10px;
}

.form .securitys {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 10px;
}

.form .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.form .securitys img {
    width: 100%;
    max-width: 120px;
    margin: 0 5px;
}

.info {
    width: 30%;
    padding: 10px;
}

.divinfo {
    width: 100%;
    background: #F4F4F4;
    border-radius: 14px 14px 0 0;
    height: 350px;
    overflow-y: scroll;
    padding: 0 5px;
}

.divinfo::-webkit-scrollbar {
    width: 5px;
}
  
.divinfo::-webkit-scrollbar-thumb {
    background: #9D2235;
}

.products {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.products img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    align-self: center1;
}

.products .info_product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    color: #9D2235;
}

.values {
    border-top: 3px solid #9D2235;
    background: #F4F4F4;
    padding: 10px;
    border-radius: 0 0 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.values div {
    display: flex;
    justify-content: space-between;
    color: #9D2235;
}

.values .subtotal {
    font-size: 14px;
}

.values .total {
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .checkout {
        flex-direction: column-reverse;
    }

    .form {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}