.button {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 26px;
    color: #9D2235;
}

.btn {
    width: 100%;
    max-width: 140px;
    border: 0;
    height: 35px;
    border-radius: 10px;
    background: #9D2235;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 1px solid #9D2235;
    color: #9D2235;
    transition: .2s linear;
}

.personal {
    margin-top: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #9D2235;
    color: #9D2235;
}