@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
  background: #9D2235;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style-type: none;
}

input,
textarea,
button {
  outline: 0;
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.input_form {
  width: 100%;
}

.error {
  margin-top: 15px;
  color: rgb(245, 5, 5);
}