* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style-type: none;
}

input,
textarea,
button {
  outline: 0;
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.input_form {
  width: 100%;
}